*
    box-sizing: border-box

html
    font-size: 63.5%

body
    background-color: hsl(212, 45%, 89%) // Light grey
    color: hsl(220, 15%, 55%) // Grey
    font:
        family: 'Outfit', sans-serif
        weight: 400
        size: 1.5rem
    /* To account for the attribution component
    margin-bottom: 15px  


h1
    color: hsl(218, 44%, 22%)
    font:
        weight: 700
        size: 2.2rem
    margin: 10px 0

img
    max-width: 100%
    object-fit: cover 

p
    margin: 15px 10px 

span
    font-size: 2rem

h1, p
    padding: 0 5%

h1, p, a
    text-align: center

