body
    height: 100vh
    display: flex
    align-items: center
    justify-content: center

.QR-code
    position: relative

.hidden-url
    /* Centering the Span
    display: flex
    justify-content: center
    align-items: center
    /* Get on top of the image
    position: absolute
    top: 0
    left: 0

.attribution
    position: fixed
    top: calc(100vh - 15px) 
    width: 100%